.creditCard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    margin: 20px;

    border-radius: 20px;

    width: 700px;
    height: auto;
}

.logoContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    margin: 20px;
}

.logo {
    width: 100px;
    height: auto;

    margin: 10px;
}

.numberContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 20px;

    font-size: 80px;
}

.bankInfoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    margin: 20px;

    font-size: 25px;
}

.expirationDate {
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
}

.bankName {
    margin: 10px;
    margin-left: 20px;
    margin-top: 0px;
    padding: 10px;
}

.ownerName {
    margin: 10px;
    margin-left: 20px;
    margin-top: 0px;
    padding: 10px;
}