.driver{
    display: flex;
    width:500px;
    border-radius: 10px;
    background-color: dodgerblue;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin:10px;
    color: white;
}
.driver img{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-right: 15px;
}
