.id-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
}

.id-card-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 16px;
}

.id-card-info p {
    margin: 4px 0;
}
