.colorPickerContainer {
    display: flex;
    justify-content: flex-start;
}

.singleColorPickers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 10px;
}

.singleColorPicker {
    font-size: 20px;

    width: 40px;
}