.even, .odd{
    width:50px;
    height:50px;
    font-size: 20px;
    border:1px solid black;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.even{
    background-color: rgb(255, 64, 0);
}