.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.idCard-container{
  width: 600px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  padding: 10px;
  gap: 50px;
  margin-top: 10px;
  margin-left: 10px;
}


.idCard-container img {
  height: 150px;
}

.idCard-container .text{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.greeting-container {
  width: 600px;
  height: fit-content;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
}

.random-container{
  width: 600px;
  height: fit-content;
  border: 1px solid black;
  margin-top: 10px;
}
 

.box-container{
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.creditCard-container {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card-logo {
  align-self: flex-end;
}

.logo-img {
  width: 60px;
  height: 30px;
}

.card-number {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-info {
  font-size: 0.95rem;
  align-self: flex-start;
}

.expiry {
  margin-right: 40px;
}

.card-info .name {
  margin-left: -30px;
  font-size: 1.05rem;
}
 
.rating-container {
  font-size: 2rem;
}


.driver-card {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  width: 700px;
  height: 150px;
  background-color: #365AB1;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

.driver-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.driver-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.driver-info h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.driver-info p {
  margin-top: 5px;
}


.like-button {
  width: 170px;
  height: 70px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  color: white;
}

.dice-img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 20px;
}


.numbers-table {
  margin-top: 21px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 52px);
  grid-template-rows: repeat(3, 52px);
  gap: 0px;
}

.number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-size: 18px;
  font-weight: 500;
}

.even {
  background-color: red;
}

.odd {
  color: black;
}

.single-color-picker,
.result-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: 10px;
}