.ids {
  margin: 10px;

  border: double black 2px;
}

.greetings {
  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.randoms {
  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.boxColors {
  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.creditCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;

  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.ratings {
  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.driverCards {
  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.likeButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.clickablePictures {
  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.dice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.carousels {
  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.numbersTables {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}

.rgbColorPickers {
  display: flex;
  flex-flow: row wrap;

  margin: 10px;
  margin-top: 80px;

  border: double black 2px;
}