/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: 0;
    
} */
.rating {
    display:inline block;
    font-size: 30px;

}
.rating span{
    color:gold;
    transition:color 0.3s;
}
.rating span.filled{
    color:black;
}