.credit{
    width:300px;
    border-radius: 10px;
    padding:18px;
    height: 150px;

    margin:5px;
    display: inline-block;
}
.credit > div{
    text-align: right;
}
.credit img{
    width:50px;

}
